/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

*, *:after, *:after {
    box-sizing: inherit;
    /* -webkit-transition: all cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.3s;
    transition: all cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.3s; */
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* GENERAL STUFFs
                START */

h2, h3, h4 {
    font-weight: 300;
}

body {
    background: #353B4A none repeat scroll 0% 0%;
    font-family: "Open Sans";
    text-align: left;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

.iPhone-big-wrapper {
    margin: 0 auto;
    width: 1000px;
}

/* GENERAL STUFFs
                END */

/* GENERAL WRAPPERs
                START */

.iPhone-wrapper {
    width: 320px;
    height: 677px;
    position: absolute;
    margin: 144px 0 0 50px;
    z-index: 3;
}

.rotate-90 {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
}

.rotate-minus90 {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.iPhone {
    z-index: 2;
    width: 320px;
    height: 677px;
    background: transparent url("../img/iphone-frame.png") no-repeat scroll 0% 0%;
    position: absolute;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
}

/* GENERAL WRAPPERs
                END */

/* IMAGES INSIDE IPHONES
                        START */
.fp-slides {
    width: 272px;
    height: 479px;
    display: inline-block;
    margin-top: 102px;
    margin-left: 27px;
}

.fp-slides img {
    position: absolute;
    display: none;
}

.fp-slides img.active {
    display: block;
}

/* IMAGES INSIDE IPHONES
                        END */

/* ARROW AND BULLET
                    START */
.arrow {
    width: 100%;
    background: transparent url("../img/arrow.png") no-repeat scroll center center;
    height: 30px;
    bottom: 20px;
    position: fixed;
}

.bullets {
    position: fixed;
    right: 20px;
    width: 20px;
    top: 45%;
    padding: 0;
    margin: 0;
}

.bullets li {
    width: 4px;
    height: 4px;
    background: transparent url("../img/bullet.png") no-repeat scroll 0% 0%;
    margin: 20px auto;
}

.bullets li.active {
    width: 8px;
    height: 8px;
    background: transparent url("../img/active-bullet.png") no-repeat scroll 0% 0%;
}

/* ARROW AND BULLETS
                    END */

/* INVIDUAL CONTENTS / TEXT IN PAGE
                                    START */

.fp-section {
    color: #C5CEE3;
}

.inner {
    display: block;
}

.header h2 {
    color: #fff;
    font-size: 50px;
    line-height: 60px;
    margin: 0 0 30px 0;
}

.page1 {
    font-size: 50px;
}

.page1 .content {
    width: 550px;
    height: 425px;
    margin-bottom: 16px;
    float: right;
}

.hidden-text {
    text-indent: -100000px;
    font-size: 32px;
    float: left;
    margin: 0;
    display: none;
}

.page1 .description {
    line-height: 60px;
    margin: 60px 0 32px 0;
}

.page1 a:hover {
    text-decoration: underline;
    outline: 0px none;
}

.page2 .content {
    width: 400px;
    height: 300px;
}

.page2 .description {
    font-size: 21px;
    line-height: 40px;
    margin: 21px 0;
}

.page3 .content {
    width: 670px;
    height: 600px;
    text-align: center;
    margin: 0 auto;
    padding-top: 380px;
}

.page3 .description,  .page4 .description{
    font-size: 21px;
    line-height: 40px;
}

.page4 .content {
    width: 670px;
    margin: 0 auto;
}

.page4 .inner {
    padding-top: 67px;
    text-align: center;
}


/* INVIDUAL CONTENTS / TEXT IN PAGE
                                    END */











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
